In [1]:
#Getting to know Jupyter part 1.1 String Type

MyName = "Roberto Mafra"
print(f"The variable, myName, is defined as {MyName} and is of type {type(MyName)}")

The variable, myName, is defined as Roberto Mafra and is of type <class 'str'>

In [2]:
#Part 1 Getting to know Jupyter Part 1.2 - Integer

MyName = 35
print(f"The Variable, MyName, is defined as {MyName} and is of type {type(MyName)}")

The Variable, MyName, is defined as 35 and is of type <class 'int'>

In [3]:
#Part 1 Getting to know Jupyter Part 1.3 - List

#My siblings age in descending order

MySiblingsAge = [34, 34, 30, 26, 22, 18]
print(f"The Variable, MySiblingsAge, is defined as {MySiblingsAge} and is of type {type(MySiblingsAge)}")

The Variable, MySiblingsAge, is defined as [34, 34, 30, 26, 22, 18] and is of type <class 'list'>

In [4]:
#Part 1 Getting to Know Jupyter Part 1.4 - Float

MyCarEngine = 3.6
print(f"The Variable, MyCarEngine, is defined as {MyCarEngine} and is of type {type(MyCarEngine)}")

The Variable, MyCarEngine, is defined as 3.6 and is of type <class 'float'>

In [5]:
#Part 2 - Running out of order

MyName

35

In [6]:
#Part 3 - Operator Practice

ValueOne = 505
ValueTwo = True
ValueThree = 15.342
ValueFour = " Fuzzy Bear"

In [7]:
#Adding ValueOne to ValueThree

ValueOne + ValueThree

520.342

In [8]:
#Subtracting ValueThree from ValueOne

ValueThree - ValueOne

-489.658

In [9]:
#Add ValueOne to ValueThree and concatenate it to ValueFour
#The result should be: "520.342 Fuzzy Bear"
 
A = ValueOne + ValueThree
print(str(A) + ValueFour)

520.342 Fuzzy Bear

In [10]:
#Cast ValueThree to an int, and add it to ValueOne
#The result should be 520

int(ValueThree) + ValueOne

520

In [11]:
#Cast ValueTwo to an int, add it to ValueOne
#The result should be 506

int(ValueTwo) + ValueOne

506

In [12]:
#Using an F-string, and without the print statement, generate a sring that has the following result:
#'ValueOne => 505, ValueTwo => True, ValueThree => 15.342, ValueFour => Fuzzy Bear'

f'ValueOne => {ValueOne}, ValueTwo => {ValueTwo}, ValueThree => {ValueThree}, ValueFour => {ValueFour}'

'ValueOne => 505, ValueTwo => True, ValueThree => 15.342, ValueFour =>  Fuzzy Bear'

#Part 4 - Working with erros in code (part 1)

# I don't undertand what this exception men

5/0

In [13]:
#Make sure you run the below cell before continuing on, the variables won't be available otherwise!

OrangePrice = 2.50
BananaPrice = 2.00
FlourPrice = 5.99
TomatoPrice = 1.50
CheesePrice = 6.99

In [14]:
#Provided as an example

PizzaIngredientPrice = CheesePrice + FlourPrice + TomatoPrice
print(PizzaIngredientPrice)

14.48

In [15]:
FreshProducePrice = OrangePrice + BananaPrice + TomatoPrice
print(FreshProducePrice)

6.0

In [16]:
AverageFreshProducePrice = (OrangePrice + BananaPrice + TomatoPrice)/3
print(AverageFreshProducePrice)

2.0

In [17]:
BananaBreadPrice = BananaPrice + FlourPrice
print(BananaBreadPrice)

7.99

In [18]:
#Error Check (yes) or (No)

print ("Does the entire notebook run,start to finish without any error? ")
Check = input()

if(Check == "yes"):
    print("You are done")
else:
    print("Try Again")

Does the entire notebook run,start to finish without any error?

 yes

You are done